# Loaded automatically when you deploy Cloud Functions.
# Generate with: cd ../server && npm run generate-vapid
VAPID_PUBLIC_KEY=BFiyrjxqSKWGIR6mFtKQTIdSANbSPKGjGB974OXVBpIsjSdMA_YXmsdi701lkE_AGONKBlCMb0fRQcGI9dMMgxA
VAPID_PRIVATE_KEY=iBOFgXXaAJUOmYNc1aca3IDjt6Gnyo-rtruomK04IFg
VAPID_SUBJECT=mailto:noreply@pediatric-clinic-queue-testing.web.app
